*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html, body{
    height: 100%;
    background-color: #aaa;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}
canvas.active{
    z-index: 100000;
}
